* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    flex-flow: column;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.head-container {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.25);
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    position: fixed;
    top: 0;
    z-index: 1;
    background: white;
}

.bars {
    display: none;
}

.logo {
    display: flex;
    gap: 5px;
}

.logo .fa-leaf {
    color: #fb9700;
}

.nav-links ul {
    display: flex;
    align-items: center;
    flex-flow: row;
    gap: 20px;
}

.nav-links ul li {
    list-style: none;
}

.nav-links ul li a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    transition: all 1s ease-in-out;
}

.nav-links ul li a:before {
    position: absolute;
    content: "";
    background: #00b400;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 0%;
    transition: all 1s ease-in-out;
}

.nav-links ul li a:hover::before {
    width: 100%;
}

.nav-links ul li a:hover {
    color: #00b400;
}

.founder {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 6px;
    font-size: 12px;
}

#founder-img img {
    width: 30px;
    height: 30px;
    background: skyblue;
    border-radius: 50%;
}

.founder .fa {
    color: #fb9700;
}
/* section one */

#section-one {
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-flow: row;
    width: 100%;
    align-items: center;
    background-color: #e6e6e6;
    z-index: -1;
    padding-left: 50px;
}

/* 
.right-side, .left-side, .img-cont {
    flex: 1;
    display: flex;
    justify-content: center;
} */
/* 
.right-side .img-cont {
    position: relative;
} */

.right-side .img-cont img {
    max-width: 100%;
    height: auto;
    /* position: absolute;
    top: 50%;
    transform: translate(-0%, -50%);
    left: 0; */
}
/* 
.right-side .img-cont .orange-splash {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translate(-0%, -25%);
    left: 0;
} */

.left-side h5 {
    color: #00b400;
    margin-bottom: 10px;
}

.left-side h2 {
    font-size: 30px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.shop-btn a {
    text-decoration: none;
    background: #00b900;
    padding: 8px 15px 8px 15px;
    font-size: 12px;
    color: #e6e6e6;
    border-radius: 20px;
    transition: all 1s ease-in-out;
}

.shop-btn a:hover {
    background: #fb9700;
}

.shop-btn a i {
    background: #e6e6e6;
    color: black;
    padding: 5px;
    border-radius: 50%;
    font-size: 10px;
    margin-left: 5px;
}

/* section-2 */
#section-two {
    margin-top: 70px;
    margin-bottom: 50px;
    width: 100%;
    scroll-margin-top: 100px;
}

#section-two .heading {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 100%;
}

#section-two .heading .text h5 {
    color: #00b400;
    font-size: 18px;
}

#section-two .heading .text h3 {
    font-size: 20px;
}

#section-two .boxes .box .fa-arrow-right {
    position: absolute;
    bottom: 10px;
    left: 50%;
    font-size: 8px;
    background: #00b400;
    padding: 5px;
    border-radius: 50%;
    color: white;
    transition: all 1s ease-in-out;
    opacity: 0;
}

#section-two .boxes .box:hover .fa-arrow-right {
    background: #fb9700;
    bottom: -10px;
    opacity: 1;
}



.categories .boxes {
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-flow: row wrap;
}

.categories .boxes .box  {
    flex: 1;
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    max-width: 150px;
    height: 150px;
    background: #fff0d482;
    border-radius: 10px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    margin-top: 30px;
    cursor: pointer;
}

.categories .boxes .box:nth-child(2) {
    background-color: #00b40029;
}

.categories .boxes .box:nth-child(3) {
    background-color: #ff00002f;
}

.categories .boxes .box:nth-child(4) {
    background-color: #b400ae29;
}

.categories .boxes .box:nth-child(5) {
    background-color: #ffe20329;
}
    

.categories .boxes .box img {
    width: 130px;
    padding-bottom: 5px;
}

.categories .boxes .box h6 {
    font-weight: 200;
    font-size: 10px;
}


/* section-three */
#section-three {
    margin-top: 70px;
    margin-bottom: 50px;
    width: 100%;
    scroll-margin-top: 100px;
}

#section-three .heading {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 100%;
}

#section-three .heading .text h5 {
    color: #00b400;
    font-size: 17px;
}

#section-three .heading .text h3 {
    font-size: 17px;
}

#section-three .heading .text {
    display: flex;
    gap: 10px;
}

.products .boxes {
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-flow: row wrap;
}

.products .boxes .box  {
    flex: 1;
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    max-width: 220px;
    height: 255px;
    background: #fbfbfb;
    border-radius: 10px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
    position: relative;
}

.products .boxes .box .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}

.products .boxes .box .top .fa-heart {
    color: #fb9700;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 10px;
    padding-top: 10px;
}
/* 
.products .boxes .box .top .left-top {
    position: relative;
} */

.products .boxes .box .top .left-top .fa {
    position: absolute;
    transform: rotate(270deg);
    top: 0px;
    font-size: 29px;
    left: 0px;
    color: #fb9700;
}

.products .boxes .box .top .left-top span {
    position: absolute;
    top: 10px;
    font-size: 8px;
    left: -2px;
    color: white;
}

.products .boxes .box img {
    width: 140px;
    height: auto;
    padding-bottom: 0px;
    padding-top: 0px;
}

.products .boxes .box .product-details h6 {
    text-align: left;
    padding-bottom: 5px;
    font-weight: 200;
}

.products .boxes .box .product-details {
    padding-left: 10px;
}

.products .boxes .box .product-details .price {
    color: #fb9700;
}

.products .boxes .box .product-details .price span{
    color: black;
}

.products .boxes .box .product-details h5 {
    text-align: left;
    padding-bottom: 5px;
    font-weight: 600;
}

.products .boxes .box .cart .fa-shopping-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #00b400;
    font-size: 12px;
    padding: 8px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
}

/* section four */
.customers .boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
    gap: 10px;
    flex-flow: row wrap;
}

#section-four .heading {
    text-align: center;
}

.customers .boxes .box  {
    flex: 1;
    display: flex;
    flex-flow: column;
    text-align: left;
    justify-content: center;
    max-width: 245px;
    height: 220px;
    background: #ffffff;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
    position: relative;
    font-size: 12px;
    transition: all 1s ease-in-out;
}

.customers .boxes .box:hover {
    transform: translateY(-7px);
}

.customers .boxes .box::before {
    position: absolute;
    bottom: 0;
    content: "";
    left: 0;
    background: #00b400;
    width: 100%;
    height: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 1s ease-in-out;
}

.customers .boxes .box:hover::before {
    background: #fb9700;
}

.customers .boxes .box .stars .fa, .fa-regular {
    color: #fb9700;
    font-size: 11px;
    padding-top: 12px;
}

.customers .boxes .box .fa-quote-left {
    color: #00b900;
    font-size: 17px;
}

.customers .boxes .box .customer-text {
    line-height: 1.5;
    padding-top: 8px;
}

.customers .boxes .box .profile img {
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 50%;
}

.customers .boxes .box .profile {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.customers .boxes .box .profile img {
    width: 30px;
    height: 30px;
    padding: 0px;
    border-radius: 50%;
}

/* section five */

#section-five {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-flow: column;
    width: 100%;
    align-items: center;
    background-color: #ffffff;
    z-index: -1;
    padding-left: 50px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    flex-flow: row;
}

.about .left {
    width: 40%;
}

.about .left h3 {
    color: #00b900;
}

.about .left .about-text {
    line-height: 1.5;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.about .about-img img {
    max-width: 100%;
    height: auto;
}

/* Footer section */

.footer-container {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    background: #fde9c9;
    padding: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    gap: 20px;
    flex-flow: row;
}

.footer-container h5 {
    white-space: nowrap;
    padding-bottom: 5px;
}

.footer-container span a {
    font-weight: 500;
    font-size: 11px;
    line-height: 1.2;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #6e6e6e;
    text-decoration: none;
    transition: all 1s ease-in-out;
}

.footer-container span a:hover {
    color: #fb9700;
}


.footer-container .second-line, .third-line {
    padding-right: 20px;
}

.footer-container .first-line .social-media {
    display: flex;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.footer-container .first-line .social-media .fab {
    color: #00b900;
    background: white;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.footer-container .first-line .social-media .fab:hover {
    background: #00b900;
    color: white;
}

.footer-container .first-line .logo {
    font-weight: 550;
    color: #6f6f6f;
    padding-bottom: 15px;
}

.footer-container .second-line {
    display: flex;
    flex-flow: column;
}

.footer-container .third-line {
    display: flex;
    flex-flow: column;
}

.footer-container  span {
    font-size: 12px;
    padding-top: 10px;
    color: #6f6f6f;
    font-weight: 500;
}

.footer-container .second-line span, .third-line span {
    font-size: 12px;
    padding-top: 10px;
    white-space: nowrap;
    color: #6f6f6f;
    font-weight: 500;
}

.footer-container .fourth-line .mail input::placeholder {
    font-size: 10px;
}

.footer-container .fourth-line .mail::before {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 1.5px;
    background: #00b900;
}

.footer-container .fourth-line .mail {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: relative;
    padding-top: 15px;
}

.footer-container .fourth-line .mail input {
    border: none;
    background: transparent;
}

.footer-container .fourth-line .mail .fa-envelope {
    color: #00b900;
}

.footer-container .fourth-line .mail .fa-arrow-right {
    color: #fb9700;
    font-size: 12px;
    cursor: pointer;
}

@media (max-width: 530px) {
    #section-two .heading {
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: center;
        gap: 20px;
        align-items: center;
        padding-left: 100px;
        padding-right: 100px;
        height: 100%;
    }

    .categories .boxes {
        padding: 50px 20px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-flow: column;
        width: 100%;
    }
    
    .categories .boxes .box  {
        flex: 1;
        display: flex;
        flex-flow: column;
        text-align: center;
        justify-content: center;
        max-width: 280px;
        height: 200px;
    }
    
    .categories .boxes .box img {
        width: 100%;
        height: auto;
        padding-bottom: 5px;
    }
    
    .categories .boxes .box h6 {
        font-weight: 200;
        font-size: 10px;
    }

    /*section two */

    .products .boxes .box  {
        flex: 1;
        display: flex;
        flex-flow: column;
        text-align: center;
        justify-content: center;
        max-width: 290px;
        height: 255px;
        background: #fbfbfb;
        border-radius: 10px;
        padding-bottom: 12px;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        margin-top: 30px;
        cursor: pointer;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
        position: relative;
    }

    #section-three .heading {
        display: flex;
        flex-flow: column;
        gap: 20px;
    }

    /* section-five */

    #section-five {
        align-items: center;
        text-align: center;
    }
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        flex-flow: column;
    }

    .about .left {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    #section-five {
        padding-left: 0px;
    }

    /* Footer section */

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    background: #fde9c9;
    padding: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    gap: 20px;
}

.footer-container .first-line  {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.footer-container .first-line .logo {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.footer-container .first-line .social-media {
    display: flex;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
}

}




@media (max-width: 700px) {
    .logo {
        width: 100%;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        box-shadow: 0px 5px 5px rgba(0,0,0,0.25);
        padding-left: 80px;
        padding-right: 0px;
        position: fixed;
        top: 0;
        z-index: 1;
        background: white;
        text-align: center;
    }


    .nav-links ul {
    visibility: hidden;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: white;
    position: absolute;
    left: 0;
    top: -300px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all 1s ease-in-out;
    z-index: -1;
    }

    .nav-links ul.show-nav {
        top: 38px;
        visibility: visible;
    }

    .nav-links ul li:hover a {
        background-color: #00b400;
        width: 100%;
        text-align: center;
        padding: 5px 20px 5px 20px;
        border-radius: 15px;
        color: white;
    }

    .bars {
        display: block;
        text-align: center;
        width: 100%;
    }

    .bars .fa-bars {
        transform: scaleX(1);
        cursor: pointer;
        transition: all 1s ease-in-out;
    }

    .bars .fa-bars:hover {
        color: #fb9700;
    }

    #section-one {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        background-color: #e6e6e6;
        z-index: -1;
        padding-top: 200px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #section-one .left-side {
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: center;
    }

    #section-one .left-side .shop-btn {
        margin-top: 20px;
    }

    /* section four */
.customers .boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
    gap: 10px;
    flex-flow: column;
}

.customers .boxes .box  {
    flex: 1;
    display: flex;
    flex-flow: column;
    text-align: left;
    justify-content: center;
    max-width: 345px;
    height: 220px;
    background: #ffffff;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
    position: relative;
    font-size: 12px;
    transition: all 1s ease-in-out;
}
    
}

@media (max-width: 800px) {
    #section-five {
        align-items: center;
        text-align: center;
    }
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        flex-flow: column;
    }

    .about .left {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    #section-five {
        padding-left: 0px;
    }

    /* Footer section */

.footer-container {
    flex-flow: column;
}
}
